.addresep {
  height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(0, 162, 255); */
}

.addresep__form {
  height: 400px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px gray;
}

.addresep__inner {
  display: flex;
}

.addresep__left {
  height: 120px;
  display: flex;
  align-items: space-between;
  justify-content: start;
  flex-direction: column;
}

.addresep__right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.addresep__right > input {
  margin: 10px;
  padding-left: 5px;
  margin-top: 20px;
  /* margin-bottom: 50px; */
  width: 120px;
  height: 32px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  font-family: "Poppins", sans-serif;
}
