.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid gray;
  position: fixed;
  box-shadow: 0px 0px 15px 1px gray;
  background-color: white;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  height: 60px;
}

.header__leftLink {
  text-decoration: none;
  color: black;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__rightLink {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.header__right > p:nth-last-child(1) {
  margin-right: 0;
}
